:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  --clr-lightblue: #2F80ED;
  --clr-lightgrey: #BDBDBD;
  --clr-midgray: #828282;
  --clr-whitegray: #E0E0E0;
  --clr-whitesmoke: #F2F2F2;
  --clr-red: #EB5757;
  --fs-sm:.75rem
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  line-height: 1.6;
  /* max-width:1280px; */
  /* background-color: #BDBDBD; */
}


img {
  max-width: 100%
}

a {
  text-decoration: none;
  color: var(--clr-lightblue)
}

/* ******************************************************** */

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  gap: 1rem;
}

.space-btw {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.gap-05 {
  gap: 0.5rem
}

.gap-1 {
  gap: 1rem
}

.flow-p5 {
  margin-block-end: 0.5rem;
}

.flow-1 {
  margin-block-end: 1rem;
}

.flow-2 {
  margin-block-end: 2rem;
}

.flow-3 {
  margin-block-end: 3rem;
}

.bold {
  font-weight: bold;
}

.rel {
  position: relative;
}

.abs {
  position: absolute
}

.xyoffset {
  top: .7rem;
  left: 1rem;
}

.radius-8 {
  border-radius: 8px;
}

.font-grey {
  color: var(--clr-midgray)
}
.font-lightgrey {
  color: var(--clr-lightgrey)
}
.font-red {
  color: var(--clr-red)
}

.center {
  text-align: center
}

.flow-center {
  margin-inline: auto;
}

/* *******************Login Component************************************* */
.container {
  padding: 1rem;
  /* border: 1px solid black; */
  height: 100vh;
  width: 100%;
  /* border:1px solid black; */
position:relative;
}

.loginpage {

  max-width: 473.83px;
  padding: 1rem;
  margin-inline: auto;

}


input {
  width: 100%;
  padding: .9rem 0;
  border: 1px solid var(--clr-lightgrey);
}

input:focus {
  border-color: var(--clr-lightblue);
}

::placeholder {
  padding-inline-start: 3rem;
  color: var(--clr-midgray)
}

.submit {
  width: 100%;
  padding-block: .6rem;
  background-color: var(--clr-lightblue);
  color: white;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0);
}

.submit:hover {
  transform: scaleY(1.05);
}

/* ***********************Thumbnail and avatar********************************* */

.thumbcard {
  /* border: 1px solid black; */
  max-width: 190px;
  /* height: 233px; */
  color: var(--clr-midgray);
  font-size: .7rem;
  border-radius: 8px;
  /* border:1px solid; */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  /* margin-inline: auto; */
  z-index: 5;
  position: absolute;
  right: 1rem;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  font-size: .95rem;


}

.thumbcard ul {
  padding: .7rem;
  list-style: none;
}

.thumbcard li {
  padding: .5rem;
}

.thumbcard li:hover {
  background-color: var(--clr-whitesmoke);
  border-radius: 8px;

}

.thumbcard li a {
  color: var(--clr-midgray);
}

.logout {
  color: var(--clr-red)
}


hr {
  border: 1px solid var(--clr-whitegray);
}



/* ***********************************Header**************************************** */
.header {
  /* border:1px solid black; */
  /* width:100%;  */

}

.picturecont {
  display: flex;
  justify-content: flex-end;
}

.header .avatar {
  max-width: 2rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 3px;
}

.header .nametag {
  display: none;
  font-size: .85rem;
}

.updownbutton {
  all: unset;
}



/* ****************************dashboard*****************************8 */
table{
  width:100%;
  /* border-spacing: 10px; */
  /* border:1px solid black; */
  border-collapse: collapse;

}
 /* th{
  width:100%;
} */
/* tr td{
  width:280px
} */
table tr{
  /* border:1px solid black; */

/* text-align: left; */
}





th ,td {
  border-bottom: 1px solid;
border-color: var(--clr-midgray);
padding-block: 1.8rem;

}
.fs-small{
  font-size: var(--fs-sm);
}

td > button{
  padding-inline:1.3rem;
  padding-block:.4rem;
  border-radius: 8px;
  border:1px solid var(--clr-lightgrey)
}
.fifty-percent{
  width:50%;
}


table img{
  width:4.5rem;
  aspect-ratio:1;
  border-radius:8px;
  object-fit: cover;
}
td +td{
  text-align: right;

}

.remove-underline{
  border-bottom: none;

  }
























@media screen and (min-width:600px) {
  .container {

    display: grid;
    place-items: center;
    padding: 2rem;
  }

  .loginpage {
    padding: 4rem;
    border: 1px solid var(--clr-lightgrey);
    border-radius: 24px;
  }


}
